
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 100px;
  background-color: #f5d0d0;
}

h1 {
  text-align: center;
}




/* css carrito */
.icon-cart{
  width: 40px;
  height: 40px;
  stroke: #fff;
}

.icon-cart:hover{
  cursor: pointer;
}

.container-icon{
  position: relative;
}

.count-products{
  position: absolute;
  top: 55%;
  right: 0;

  background-color: #000;
  color: #fff;
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
  position: absolute;
  top: 50px;
  right: 0;

  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
  border-radius: 10px;
}
.cart-product{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-product{
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.titulo-producto-carrito{
  font-size: 20px;
  display: flex;
}

.precio-producto-carrito{
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 30px;
}

.cantidad-producto-carrito{
  font-weight: 400;
  font-size: 20px;
  padding: 25px;
}

.icon-close{
  width: 25px;
  height: 25px;
}

.icon-close:hover{
  stroke: red;
  cursor: pointer;
}

.cart-total{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.cart-total h3{
  font-size: 20px;
  font-weight: 700;
}

.total-pagar{
  font-size: 20px;
  font-weight: 900;
}

.hidden-cart{
  display: none;
}

.cart-empty{
  padding: 20px;
  text-align: center;
}

.hidden{
  display: none;
}
/* acaba el css */





.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.product {
  width: 300px;
  background-color: #f4f4f4;
  border: 1px solid rgb(188, 52, 52);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product h3 {
  margin: 0;
  text-align: center;

}


.product p {
  margin: 0;
  margin-left: 40%;
}
.add-to-cart-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 23%;
 
}
.carrito{ 
      display: flex;
      justify-content: center;
      align-items: center;
     
    
}

.add-to-cart-btn:hover {
  background-color: #45a049;
  text-align: center;
}